.popular__card {
  width: 33.33333%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1599.98px) {
  .popular__card {
    gap: 20px;
  }
}

@media (max-width: 1023.98px) {
  .popular__card {
    width: 100%;
    flex-direction: row;
    gap: 0;
  }

  .popular__card:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

@media (max-width: 767.98px) {
  .popular__card {
    flex-direction: column;
    gap: 15px;
  }

  .popular__card:nth-child(2n) {
    flex-direction: column;
  }
}
