.slider__pagination {
  padding-bottom: 30px;
}

.slider__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: var(--color-grey);
}

.slider__pagination .swiper-pagination-bullet-active {
  background-color: var(--color-white);
}

@media (max-width: 1599.98px) {
  .slider__pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 1023.98px) {
  .slider__pagination {
    padding-bottom: 0;
  }

  .slider__pagination .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: var(--swiper-pagination-top,430px);
    bottom: var(--swiper-pagination-bottom,auto);
  }

  .slider__pagination .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
  }
}

@media (max-width: 767.98px) {
  .slider__pagination .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    top: var(--swiper-pagination-top,330px);
  }

  .slider__pagination .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 10px);
  }
}
