.object__card-list-item-price {
  width: 35%;
  font-size: 14px;
}

.object__card-list-item-price::before {
  content: 'от:';
  padding-right: 5px;
  color: var(--color-grey);
}

.object__card-list-item-price::after {
  content: 'млн. ₽';
  padding-left: 3px;
}

@media (max-width: 1023.98px) {
  .object__card-list-item-price {
    width: 30%;
  }
}

@media (max-width: 767.98px) {
  .object__card-list-item-price {
    width: 40%;
  }
}

@media (max-width: 359.98px) {
  .object__card-list-item-price {
    width: auto;
  }
}
