.object__card-article {
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, .2);
  height: 100%;
  padding: 40px 30px;
  position: relative;
}

@media (max-width: 1023.98px) {
  .object__card-article {
    height: auto;
    min-height: 250px;
    width: 75%;
  }
}

@media (max-width: 767.98px) {
  .object__card-article {
    height: auto;
    min-height: auto;
    width: auto;
    padding: 30px 20px;
  }
}
