.hero__pattern-center {
  height: 100px;
  width: 1200px;
  background-image: url(./hero__pattern-center_xl.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  flex-shrink: 0;
}

@media (max-width: 1599.98px) {
  .hero__pattern-center {
    background-image: url(./hero__pattern-center_lg.svg);
    height: 50px;
    width: 824px;
  }
}

@media (max-width: 1023.98px) {
  .hero__pattern-center {
    background-image: url(./hero__pattern-center_md.svg);
    width: 600px;
  }
}
